<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8">
			Address: Daegu (<a href="https://goo.gl/maps/H2RjutkyoUH2">Map</a>)<br />
			Contact: <em>gogoho77@gmail.com</em><br />
			Phone: +82-10-2909-0999<br />        
		</div>
		<div class="col-sm-4">
			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/dgist_logo.png" class="img-responsive" width="55%" style="float: right" />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
