<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8">
			Address: E3, 333, Techno jungang-daero, Hyeonpung-eup, Dalseong-gun, Daegu, Republic of Korea (<a href="https://www.google.nl/maps/place/%EC%A0%84%EA%B8%B0%EC%A0%84%EC%9E%90%EC%BB%B4%ED%93%A8%ED%84%B0%EA%B3%B5%ED%95%99%EA%B3%BC+(E3)/data=!3m1!4b1!4m6!3m5!1s0x356f587a086a08df:0x8feff7c081d19e7c!8m2!3d35.7060902!4d128.4533465!16s%2Fg%2F11bwn1jg6l?hl=en&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">Map</a>)<br />
			Contact: <em>jhochoi@dgist.ac.kr</em><br />
			Phone: +82-53-785-6328<br />        
		</div>
		<div class="col-sm-4">
			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/dgist_logo.png" class="img-responsive" width="55%" style="float: right" />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
